@import "@shared/styles/breakpoints";

// this is where common classes can go
// e.g. each page should have the same max-width and padding:

.pageContainer {
    margin: 0 auto;
    max-width: 1200px;
}

.listContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include breakpoint(medium up) {
        width: 500px;
    }
}