$black: #000000;
$white: #ffffff;

#__next, html, body {
    height: 100%;
    width: 100%;
    max-width: 100%;
    //overflow-x: hidden;
    margin: 0;
    font-size: 16px;
    background-color: $white;
    color: $black;
}

.disp-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}


