@import "@shared/styles/variables";
@import "@shared/styles/breakpoints";

.mainContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 16px;
    text-align: center;
}