@import "@shared/styles/variables";

.msgBoxContainer {
    border: 1px solid $black;
    border-radius: 8px;
    box-shadow: 0 0.2rem 0.5rem #0000001a,0 0 0.05rem #00000040;
    max-width: 500px;
    text-align: left;
}

.titleBar {
    border-radius: 8px 8px 0 0;
    padding: 4px 8px;
    background-color: $white;
    color: $black;
    border-bottom: 1px solid $black;
    font-weight: bold;
    text-align: left;
}

.titleText {
    color: $black;
}

.titleText::before {
    position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 4px;
    content: "🔥";
}

.msgContent {
    padding: 16px;
}

